@media screen and (max-width: 1200px) {
    .Featured .feat_btn {
        height: 3vw;
    }
}

@media screen and (max-width: 1000px) {
    .cards .card {
        width: 30% ; 
        margin-bottom: 2%;
    }
    .cards img{
        height: 20%;
        width: 25%;
    }
    .cards h3{
        font-size: 100%;
    }
    .cards p{
        font-size: 80%;
    }
    .navbar{
        height: auto;
    }
  
    #Featured .cards .card{
        width: 1vw !important;
    }
    #Featured p{
        margin-bottom: 0.5vw !important;
    }
}

@media screen and (max-width: 690px){
    #Featured .cards .card{
        height: auto !important;
    }
}

@media screen and (max-width: 600px) {
    .cards .card {
        width: 60% ; 
        gap: 1rem !important;
        height: 25% !important;
    }
    .cards img{
        height: 20%;
        width: 20%;
    }
    #about .container {
        margin-top: 10%;
    }
    .nav_list {
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .nav_logo, .nav_icons1, .nav_icons2 {
        display: none;
    }
    .navbar-menu.show {
        display: flex;
    }
    .navbar-menu {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 1vh;        
        background: white;
        width: 100%;
        padding: 15px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        gap: 1rem;
    }
    .navbar-menu li a:hover {
        color: rgb(57, 169, 162);
        
    }
    .nav_icons img{
        margin-left: 10vw;
    }
    .navbar{
        height: 4vw;
    }
    .navbar-menu ul{
        flex-direction: column;
    }
   
    #Featured .container {
        width: 95% !important;
        margin: 0;
    }
    #Featured .cards .card{
        min-width: 20vw !important;
        height: auto !important;
    }
    #Featured .cards {
        width: 80% !important;
        flex-wrap: nowrap !important;
    }
    #Featured .cards-wrapper {
        overflow-x: auto !important;
        white-space: nowrap;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 602px){
    .cards {
        display: flex;
        flex-direction: column; 
        align-items: center;   
    }
    .cards .card {
        width: 60%;       
        height: 30% !important;    
        margin-bottom: 5%;
    }
    .cards p{
        margin-bottom: 3% !important;
    }
}
@media screen and (max-width: 550px) {
    .cards .card {
        width: 60% ; 
        gap: 1rem !important;
        height: 28%;
    }
}