* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}


/* Variables */
:root {
    --color-primary: #00a6a6;
    --color-secondary: #333;
    --color-text: #555;
    --color-background: #fff;
    --color-card: #fff;
    --color-border: #eee;
    --color-header: #fff;
    --color-footer: #EAEAEA;
    --color-footer-text: #333;
    --shadow-default: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 123, 255, 0.3);
    --section-alt: #f9f9f9;
}

.new_arrivals {
    background-color: var(--section-alt);
    position: relative;
    padding: 2rem 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2, h3, h4 {
    color: var(--color-secondary);
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}



/* ----- */



.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    margin-top: 20px;
    margin-left: -10%;
    
}

.book-card {
    flex: 0 0 auto;
    width: 220px;
    transition: all 0.3s ease;
}

.card-in {
    background-color: var(--color-card);
    border-radius: 1px;
    border: 1px solid black;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-default);
    height: 100%;
    margin-bottom: -17px;

    
}

.card-in:hover {
    box-shadow: 0 15px 30px var(--shadow-hover);
}

/* Add border and padding to book cover images */
.Cover {
    position: relative;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cover img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border: 1px solid #ddd;
}

.card-in:hover .Cover img {
    transform: scale(1.07);
    
}

.Info {
    padding: 15px;
    text-align: center;
}

.Info h3 {
    font-size: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.learn-more-link {
    display: inline-block;
    border: 2px solid var(--color-primary);
    color: black;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.learn-more-link:hover {
    background-color: var(--color-primary);
    color: white;
    transform: translateY(-2px);
}

.reviews_stars{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #00bcd4;
    font-size: 0.8em;
}