html{
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;
    width: 100%;
}

section {
    scroll-margin-top: 12vh;
}
.navbar {
    margin: 0;
    width: 100%;
    height: 7.5%;
    border-bottom: 2px solid rgb(150, 224, 229);
    box-shadow: 0 5px 10px -2px rgb(150, 224, 229);
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    z-index: 999;
}

.container-nav {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 0;
}

.navbar-logo {
    max-width: 6%;
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    max-width: 80%;
    padding: 0;
}

.navbar-menu li a {
    max-width: 80%;
    text-decoration: none;
    color: #000;
    font-size: 1.3vw;
    font-family: sans-serif;
}

.nav_icons img {
    max-width: 10%;
    max-height: 10%;
    margin-left: 4%;
    cursor: pointer;
}

.nav_icons {
    gap : 5%;
    max-width: 16%;
    max-height: 16%;
    display: flex;
    align-items: center;
}

.nav_list {
    display: none;
}







#Home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 100%;
    background: url(img/bg.png) no-repeat center center;
    background-size: 85% auto;

}


#Home .container {
    display: flex;        
    align-items: flex-start;
    justify-content: space-between;
    max-width: 85%;
    gap: 5%;
}
.home-text {
    max-width: 50%;            
    color: #000;
    margin: 10% 0;
}

.home-text h1 {
    font-size: 3vw;
}

.home-text p {
    font-size: 1.1vw;
    margin: 10% 0;
}

.home-span {
    color: rgb(57, 169, 162);
}

.home-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69, 196, 196, 0.4);
}
.home-img {
    margin: 9% 0;
    width: 40%;          
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    height: auto;
}




.cards {
    max-width: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    max-width: 90%;
}
.cards .card {
    width: 19%;
    box-shadow: 0px 0px 5px 5px rgb(150, 228, 229);
    border-radius: 0.4%;
    padding: 1%;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards .card:hover {
    transform: translateY(-5%) scale(1.03);
    box-shadow: 0 10px 20px rgba(150, 212, 229, 0.6);
}

.cards .card img {
    max-width: 83%;
    height: 40%;
}

.cards .card h3 {
    margin: 0;
    font-size: 1.4vw;
}

.cards .card p {
    color: #555;
    margin-bottom: 0;
    font-size: 1.3vw;
}





#about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    gap: 10%;
}

.about-text {
    max-width: 40%;
    color: #000;
}

.about-text h1 {
    font-size: 2.8vw;
}

.about-text p {
    font-size: 1vw;
    margin: 10% 0;
}

.about-text .btn {
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1vh 3vw;
    border: none;
    font-size: 1.3vw;
    cursor: pointer;
    transition: 0.3s;
}

.about-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-5%);
}

.about-img {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69,183,196,0.4);
}








#Featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    width: 100%;
}

#Featured .container {
    max-width: 90%;
    margin: auto;
}

#Featured h1 {
    font-size: 2.8vw;
    margin-bottom: 3%;
}
#Featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    width: 100%;
}

#Featured .container {
    max-width: 90%;
    margin: auto;
}

#Featured h1 {
    font-size: 2.8vw;
    margin-bottom: 3%;
}

#Featured .cards-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#Featured .cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: 2vw; 
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #fbf8f8 ;
}
#Featured .cards-wrapper::-webkit-scrollbar {
    height: 0.8vh;       
}

#Featured .cards-wrapper::-webkit-scrollbar-track {
    background: #f0f0f0;  
}

#Featured .cards-wrapper::-webkit-scrollbar-thumb {
    background: rgb(69, 183, 196);  
    border-radius: 5vw;             
}

#Featured .cards-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 150, 170);
}

#Featured .cards-wrapper {
    scrollbar-width: thin;
    scrollbar-color: rgb(57,169,162) #f0f0f0;
}

#Featured .card {
    min-width: 15vw;
    height: 33vw;
    border: 0.1vw solid rgb(57,169,162) 
    text-align: center;
    margin-left: 1.39vw;
    margin-bottom: 0.69vw;
    padding: 0.35vw;
    white-space: nowrap;
    transition:all 0.3s ease ;
    -webkit-transition:all 0.3s ease ;
    -moz-transition:all 0.3s ease ;
    -ms-transition:all 0.3s ease ;
    -o-transition:all 0.3s ease ;
}
#Featured .card:hover {
    box-shadow: 0 0 7px rgb(57, 169, 162);
    transform: translateY(-5%);
}

#Featured .card img {
    width: 100%;
    max-height: 18vw;
    object-fit: cover;
}

#Featured .card h3 {
    font-size: 1.5vw;
    margin: 1vh 0;
}

#Featured .card p {
    font-size: 1.2vw;
    color: #8e8d8d;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

#Featured .span1 {
    font-size: 1vw;
    color: rgb(57, 169, 162);
    font-weight: 500;
}

#Featured .span2{
    color: #000;
    font-size: 1vw;
    font-weight: 600;
}
#Featured .feat-btn {
    margin-top: 2%;
    height: 3vw;
    color: #000;
    background-color: #fff;
    border: 0.15vw solid rgb(57, 169, 162);
    box-shadow: 0 0 3px rgb(57, 169, 162);
    padding: 5% 20%;  
    font-size: 1vw; 
    transition: all 0.3s ease;
    margin-bottom: 0.5rem;
}

#Featured .feat-btn:hover {
    background-color: rgb(57, 169, 162);
    color: #fff;
    box-shadow: 0 5px 15px rgba(69,183,196,0.4);
    transform: translateY(-5%);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Variables */
:root {
    --color-primary: #00a6a6;
    --color-secondary: #333;
    --color-text: #555;
    --color-background: #fff;
    --color-card: #fff;
    --color-border: #eee;
    --color-header: #fff;
    --color-footer: #EAEAEA;
    --color-footer-text: #333;
    --shadow-default: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 123, 255, 0.3);
    --section-alt: #f9f9f9;
}

.new_arrivals {
    background-color: var(--section-alt);
    position: relative;
    display:flex;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
}

.wrap {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 0 20px; */
}

h2, h3, h4 {
    color: var(--color-secondary);
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}



/* ----- */



.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-card {
    flex: 0 0 auto;
    min-width: 220px;
    transition: all 0.3s ease;
}

.card-in {
    background-color: var(--color-card);
    border-radius: 1px;
    border: 1px solid black;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-default);
    height: 100%;
    margin-bottom: -17px;

    
}

.card-in:hover {
    box-shadow: 0 15px 30px var(--shadow-hover);
}

/* Add border and padding to book cover images */
.Cover {
    position: relative;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cover img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border: 1px solid #ddd;
}

.card-in:hover .Cover img {
    transform: scale(1.07);
    
}

.Info {
    padding: 15px;
    text-align: center;
}

.Info h3 {
    font-size: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.learn-more-link {
    display: inline-block;
    border: 2px solid var(--color-primary);
    color: black;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.learn-more-link:hover {
    background-color: var(--color-primary);
    color: white;
    transform: translateY(-2px);
}

.reviews_stars{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #00bcd4;
    font-size: 0.8em;
}




/* Reviews Section */
.Customer_Reviews {
    background-color: var(--section-alt);
    padding: 4rem 

}

.Review_Grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.Review_Card {
    background-color: var(--card-bg, #fff);
    border-radius: .2rem;
    padding: 1rem;
    box-shadow: 0 0 5px var(--primary-color, #2596be);
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Reviewer_Profile {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.Reviewer_Profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 6px;
    object-fit: cover;
}

.Reviewer_Profile h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.Review_Body {
    position: relative;
    flex-grow: 1;
}

.quote-mark {
    position: absolute;
    top: -7rem;
    right: -0.5rem;
    opacity: 0.8;
    font-size: 4rem;
    color: var(--border-color, #EAEAEA);
    font-family: 'Georgia', serif;
    z-index: 0;
    line-height: 1;
}
.Review_Body p{
    position: relative;
    font-size: .6rem;
    line-height: 1.5;
    color: #555;
    z-index: 1;
    margin: 0;
    padding-top: .1rem;
}

.reviews_stars{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #00bcd4;
    font-size: 0.8em;
}


/* Digital Book Section */
.promo-banner {
   background-color: var(--section-bg);
    position: relative;
    overflow: hidden;
    padding: 10rem 0;
    background-image: url("image/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.promo-banner .wrap{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    top:15rem;
    left: 5rem;
}
.promo-content {
    position: relative;
    z-index: 2;
}

.primary-btn {
    display: inline-block;
    background-color: var(--color-primary);
    color: white;
    padding: 6px 20px;
    margin-left: -10px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-decoration:none;
}

.primary-btn:hover {
    background-color: #008b8b;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--shadow-hover);
}


/* Blog Section */
#blog{
    margin-bottom: 1.5em;
}
#blog > h1{
    text-align: center;
    font-size: 3em;
      color: #333;  
      margin-bottom: 20px;

}

.blog_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.blog_card{
    display: block;
    width: 25%;
    background-color: #fff;
    border: 2px solid  #cdc8c8;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
    min-width: 20rem;
}
.blog_card img{
    display: block;
    width: 100%;
    height: 14em;
    border: 1px solid var(--border-color);
margin-bottom: 1em;
}
.blog_card div h3{
    color: var(--color-primary);
    font-size: x-large;
    
}
.blog_card > div{
    padding: 0em 1em;
    margin-top: -0.8em;
}
.blog_icons{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
    color: var(--color-primary);
}

.reviews{
    text-align: justify;         
    word-break: break-all;   
    hyphens: auto; 
    margin-top: -1em;
}


/* Footer */

#footer{
    background-color: #E0E0E0;
    padding: 10px 5em;
    padding-bottom: 1em;
}
#footer .columns{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 7%;
    padding-bottom: 2em;
    font-size: 0.8em;
}
#footer .columns{
    min-width: 15em;
}
#footer .columns .col1{
    display: block;

}
#footer .columns .col1 img{
    width: 35%;
    height: min-content;
}
#footer .columns .col1 p{
    text-align: justify;         
    word-break: normal;   
    hyphens: auto; 
    white-space: normal;
    margin: 0;
    margin-top: 4px;
    line-height: 1.5;
}

#footer .columns .col2 .elements{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#footer .columns .col2 a{
    text-decoration: none;
    color: black;
}

#footer .columns .col3 .elements{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footer .columns .col3 .elements i{
    margin-right: 0.3em;
}

#footer .columns .col4 i{
    margin-right: 0.4em;
    color: black;
}

/* #footer .columns .col5{
    width: 100%;
} */

#footer .columns .col5 .textarea{
  height: 2.3em;
  padding: 5px 5px 5px 13px;
  background-color: rgb(199, 194, 194);
  border-radius: 20px;
  font-size: 0.8em;
  resize: none;
  border: none;

}

#footer .columns .col5 .button{
    margin-top: 10px;
    padding: 5px 13px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    cursor: pointer;
  }

#footer .last_row{
    text-align: center;
    font-size: 0.8em;
}
#footer .last_row .highlight{
    margin-left: 5px;
    color: var(--color-primary);
}



