* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}


/* Variables */
:root {
    --color-primary: #00a6a6;
    --color-secondary: #333;
    --color-text: #555;
    --color-background: #fff;
    --color-card: #fff;
    --color-border: #eee;
    --color-header: #fff;
    --color-footer: #EAEAEA;
    --color-footer-text: #333;
    --shadow-default: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 123, 255, 0.3);
    --section-alt: #f9f9f9;
}

.new_arrivals {
    background-color: var(--section-alt);
    position: relative;
    padding: 2rem 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2, h3, h4 {
    color: var(--color-secondary);
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
